<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="esca7a" translate="label" sortOrder="10">
            <label>ESCA7A</label>
        </tab>

        <section id="moduledatabase" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Module Data Base</label>
            <tab>esca7a</tab>
            <resource>Esca7a_ModuleDataBase::helloworld_config</resource>

            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0">
                <label>Module Data Base configuration</label>
                <field id="test1"
                       translate="label"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>TEST 1</label>
                    <comment>text of field 1.</comment>
                </field>
                <field id="test2"
                       translate="label"
                       type="text"
                       sortOrder="2"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>TEST 2</label>
                    <comment>текст тестового поля 2.</comment>
                </field>
                <field id="test3"
                       translate="label"
                       type="text"
                       sortOrder="3"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>TEST 3</label>
                    <comment>текст тестового поля 3.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
