<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="feedbacks_grid_data_source" xsi:type="string">Esca7a\ModuleDataBaseModel\ResourceModel\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Esca7a\ModuleDataBaseModel\ResourceModel\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">esca7a_task5</argument>
            <argument name="resourceModel" xsi:type="string">Esca7a\ModuleDataBaseModel\ResourceModel\Data</argument>
        </arguments>
    </virtualType>
</config>
