<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--создаем ивент на инлайн сейв-->
    <event name="customer_save_after_data_object">
        <observer
            name="Esca7a_customer_save_inline"
            instance="Esca7a\ModuleCustomLog\Observer\AdminhtmlCustomerPrepareSave"
            disabled = "false" />
    </event>
</config>
