<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
   <menu>
      <add
         id="Esca7a_ModuleTask4::config" 
         title="Esca7a configuration" 
         translate="title" 
         module="Esca7a_ModuleTask4" 
         sortOrder="152" 
         parent="Magento_Backend::system" 
         resource="Esca7a_ModuleTask4::config"
      />
      <add 
         id="Esca7a_ModuleTask4::esca7a_configuration" 
         title="XROM-GROUP" 
         module="Esca7a_ModuleTask4" 
         sortOrder="99" 
         parent="Esca7a_ModuleTask4::config" 
         action="adminhtml/system_config/edit/section/moduletask4" 
         resource="Esca7a_ModuleTask4::helloworld_configuration"
         />
   </menu>
</config>